/* .goit2 {
    color: purple;
}

.goit2:hover {
    background-color: black; 
    color: rgb(154, 243, 188);
}
 p {
    color: green;
 }
 section > p {
    color: orange !important;

 }
 .goit-css {
    text-decoration: underline;
    text-transform: lowercase;
    background-color: aqua;
   line-height: 13px;
   font-size: 12;
   text-indent: 1opx;

 }
 .kutucuk {
    text-align:center;
 } */
/* .box{
 width: 300px;
 border: 2px solid red; */
 /* padding: 100px; */
 /* padding-left: 40px;
 padding-right:40px;

margin-top: 50px;
margin-left: 40px;
margin-bottom: 60px;
} */

/* .div1{
   width: 200px;
   padding: 20px;
   border: 5px solid blue;
   box-sizing: content-box;
   background-color: lightblue;

}
.div2{
   width: 200px;
   padding: 20px;
   border: 5px solid blue;
   box-sizing: border-box;
   background-color: lightblue;

}
.div1::after{
   content:"after özelliği";
}
.div1::before{
   content: "before özelliği";
} */
 /* .test h1{
   background-color: black;
   color: white;
 }
 .test h1:hover{
   background-color: blue;
   font-size: 20px;
   font-family: 'Times New Roman', Times, serif;
 }
 div #arac li{
   font-size: 25px;
 }
 .goit2 {
   color: purple;

 }
 .goit2:hover{
   background-color: black;
   color: white;
 }
 .social-links .link {
   color: teal;
 }
 
 .social-links .link:hover {
   color: orange;
 }
 .social-links .link:active {
color:red;
 }
 .social-links .link:focus {
   color:blue;
    }
    .kutu{
      background-color: aqua;
      width: 50% ;
      height: 200px;
      border: 2px solid black;
      font-family:"Sour Gummy" ;
      font-size: 15px;
      
    }
    .kutu p {
     font-weight: 700;
    } */
     .box{
      width: 400;
      border: 2px solid red;
      padding: 30px;
      margin-top: 10px;
      margin-left: 40px;
      margin-bottom: 40px;
    
      }
      .div1{
        width: 200px;
        padding: 20px;
        border: 5px solid blue;
        box-sizing: content-box;
        background-color: lightblue;
        border-radius: 50%;
        overflow: scroll;
      }
      .div2{
        width: 200px;
        padding: 20px;
        border: 5px solid blue;
        box-sizing: border-box;
        background-color: lightblue;
        border-radius: 50%;
        overflow: scroll;
      }
      .div1::after{
        content: "after özelliği";
        background-color: blueviolet;
      }
      /* .div2::before{
        content: "before özelliği";
        background-color: red;
      } */
      .frame {
        margin-top: 30px;
        /* border: 2px solid black; */
        width: 200px;
        height: 200px;
        /* display: flex;
        text-align: center;
        justify-content: center; */

        border-top: 2px solid black;
        border-left: 2px dashed red;
        border-right: 2px dotted blue;
        border-bottom: 2px solid purple;

      }

      